root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,tsx,js,jsx,mjs,cjs}]
indent_style = space
indent_size = 2

[*.{css,scss,sass,less}]
indent_style = space
indent_size = 2

[*.{html,htm}]
indent_style = space
indent_size = 2

[*.{json}]
indent_style = space
indent_size = 4
